@model Thalia.Services.Weather.WeatherConditions

<div class="container">
    <p>Description: @Model.Description</p>
    <p>Title: @Model.Title F</p>
    <p>Temperature: @Model.TemperatureC C</p>
    <p>Temperature: @Model.TemperatureF F</p>
    <p>Icon: <i class="wi @Model.Icon"></i></p>
</div>